# Getting Start With Python 1

## A. Data Type and Variables

In [64]:
type(1)

int

In [65]:
type(1.1)

float

In [66]:
type(int(1.1))

int

In [4]:
type(True)

bool

In [5]:
type(int(False))

int

In [6]:
int(False)

0

In [7]:
int(True)

1

In [68]:
video = 1
print(video)

1

## B. Operator

Addition ( + ), Subtraction ( - ), Multiplication ( * ), Division( / ), Exponentiation ( ** ), Floor Division( // ), Modulus ( % )

In [71]:
5 * 7

35

In [9]:
2 - 1 * 5

-3

In [10]:
25 // 5

5

In [11]:
25 / 5

5.0

In [12]:
25 / 6

4.166666666666667

In [13]:
25 // 6

4

## C. String

In [18]:
station = "Semarang Tawang"

In [19]:
station[2]

'm'

In [20]:
station[8]

' '

In [21]:
station[8:]

' Tawang'

In [22]:
station[:3]

'Sem'

In [23]:
station[-1]

'g'

In [24]:
station[:-3]

'Semarang Taw'

In [25]:
station[-3:]

'ang'

In [26]:
station[-8:]

'g Tawang'

In [29]:
station[2:]

'marang Tawang'

In [30]:
station.islower

In [31]:
station[-0]

'S'

In [32]:
station[-1]

'g'

In [33]:
station[0]

'S'

In [35]:
station[1:8:1]

'emarang'

In [36]:
station[1:8:2]

'eaag'

In [37]:
station[12:4:-3]

'aTn'

In [27]:
len(station[2])

1

In [28]:
len(station[2:])

13

In [34]:
sum(map(str.islower, station))

12

In [38]:
adjective = "beautiful"

In [39]:
statement = station + " is a " + adjective + " station."

In [40]:
statement

'Semarang Tawang is a beautiful station.'

In [41]:
3 * adjective

'beautifulbeautifulbeautiful'

In [42]:
print("Jakarta \nRaya")

Jakarta
Raya

In [43]:
print("Jakarta \tRaya")

Jakarta 	Raya

In [44]:
print("Jakarta \\ Raya")

Jakarta \ Raya

In [45]:
print("Jakarta \ Raya")

Jakarta \ Raya

In [46]:
print(r"Jakarta \ Raya")

Jakarta \ Raya

In [47]:
print("Jakarta\"Raya\"")

Jakarta"Raya"

In [69]:
A = "Surabaya is the city of heroes"
B = A.upper()
print(B)

SURABAYA IS THE CITY OF HEROES

In [70]:
C = A.replace("heroes", "gardens")
C

'Surabaya is the city of gardens'

In [53]:
sum(map(str.isupper, A))

1

In [54]:
sum(map(str.isdigit, A))

0

In [55]:
A.count("a")

3

In [56]:
A.count("")

31

In [57]:
F = 'Surabaya 2222 is the city of heroes'

In [58]:
sum(map(str.isdigit, F))

4

In [59]:
F.count(" ")

6

In [60]:
sum(map(str.isspace, F))

6

In [61]:
len(F)

35

## Loops

In [62]:
count = 1
for i in F:
    if(i.isspace())== True:
        count+=1
print(count)

7

In [63]:
for i in F:
    if(i.isupper()) == True:
        count+=1
print(count)

8