# Replace cm to inch
## Case Study: Data Iris

In [1]:
import pandas as pd
iris = pd.read_csv('iris.csv')
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [2]:
iris.shape #Mengecek jumlah baris dan kolom

(150, 5)

In [3]:
iris.info() #Melihat info di dalam file lebih detail

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal.length    150 non-null float64
sepal.width     150 non-null float64
petal.length    150 non-null float64
petal.width     150 non-null float64
variety         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

**Mengganti nama kolom menjadi bahasa Indonesia**

In [4]:
column_names = iris.columns.values
column_names[0] = "panjang_kelopak"
column_names[1] = "lebar_kelopak"
column_names[2] = "panjang_mahkota"
column_names[3] = "lebar_mahkota"
column_names[4] = "varietas"
iris.columns = column_names

In [5]:
iris.head()

   panjang_kelopak  lebar_kelopak  panjang_mahkota  lebar_mahkota varietas
0              5.1            3.5              1.4            0.2   Setosa
1              4.9            3.0              1.4            0.2   Setosa
2              4.7            3.2              1.3            0.2   Setosa
3              4.6            3.1              1.5            0.2   Setosa
4              5.0            3.6              1.4            0.2   Setosa

**Mengganti nama varietas dengan menambah kata "anggrek_"**

In [6]:
iris.loc[iris["varietas"] == "Setosa", "varietas"] = "anggrek_setosa"
iris.loc[iris["varietas"] == "Versicolor", "varietas"] = "anggrek_versicolor"
iris.loc[iris["varietas"] == "Virginica", "varietas"] = "anggrek_virginica"

In [7]:
iris.head()

,panjang_kelopak,lebar_kelopak,panjang_mahkota,lebar_mahkota,varietas
0,5.1,3.5,1.4,0.2,anggrek_setosa
1,4.9,3.0,1.4,0.2,anggrek_setosa
2,4.7,3.2,1.3,0.2,anggrek_setosa
3,4.6,3.1,1.5,0.2,anggrek_setosa
4,5.0,3.6,1.4,0.2,anggrek_setosa

**Mengganti satuan ukuran dari cm ke inch**

In [8]:
iris.iloc[:, :4] = iris.iloc[:, :4].div(2.54).round(2)

In [9]:
iris.head()

,panjang_kelopak,lebar_kelopak,panjang_mahkota,lebar_mahkota,varietas
0,2.01,1.38,0.55,0.08,anggrek_setosa
1,1.93,1.18,0.55,0.08,anggrek_setosa
2,1.85,1.26,0.51,0.08,anggrek_setosa
3,1.81,1.22,0.59,0.08,anggrek_setosa
4,1.97,1.42,0.55,0.08,anggrek_setosa